{
  "extends": ["nevermined"],
  "rules": {
    "@next/next/no-html-link-for-pages": "off",
    "@typescript-eslint/no-explicit-any": "off"
  },
  "ignorePatterns": ["node_modules", "config", "dist"]
}
