// this need to set on process.env
process.env.NODE_ENV = 'development';

module.exports = {
  NODE_ENV: process.env.NODE_ENV,
  server: {
    port: 8030,
  },
  nvm: require("./nevermined").config,
  src: {
    root: 'src',
    fileExtension: 'ts',
  },
  security: {
    enableHttpsRedirect: false,
  },
  ... require('./from-env').config
};
