name: Tests Nightly

on:
  schedule:
    - cron: '30 5 * * *'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 18
      - name: Install dependencies
        run: |
          yarn
      - name: Compile
        run: |
          yarn run build
      - name: Setup NVM
        run: |
          docker login -u ${{ secrets.NEVERMINED_DOCKER_USERNAME }} -p ${{ secrets.NEVERMINED_DOCKER_TOKEN}}
          sudo chmod go+r /etc/hosts
          sudo echo "127.0.0.1  nevermined-metadata" | sudo tee -a /etc/hosts
          git clone https://github.com/nevermined-io/tools

          cd tools
          export KEEPER_OWNER_ROLE_ADDRESS="0xe2DD09d719Da89e5a3D0F2549c7E24566e947260"
          rm -rf "${HOME}/.nevermined/nevermined-contracts/artifacts"

          export KEEPER_VERSION=latest          

          ./start_nevermined.sh --no-graph --no-node --opengsn 2>&1 | tee nevermined_tools.txt &
          cd ..
          ./scripts/wait-nevermined.sh
      - name: Start node
        env:
          PROVIDER_KEYFILE: accounts/provider.json
          RSA_PRIVKEY_FILE: accounts/rsa_priv_key.pem
          RSA_PUBKEY_FILE: accounts/rsa_pub_key.pem
          PROVIDER_BABYJUB_SECRET: ${{ secrets.PROVIDER_BABYJUB_SECRET }}
          BUYER_BABYJUB_SECRET: ${{ secrets.BUYER_BABYJUB_SECRET }}
          PROVIDER_BABYJUB_PUBLIC1: ${{ secrets.PROVIDER_BABYJUB_PUBLIC1 }}
          PROVIDER_BABYJUB_PUBLIC2: ${{ secrets.PROVIDER_BABYJUB_PUBLIC2 }}
          BUYER_BABYJUB_PUBLIC1: ${{ secrets.BUYER_BABYJUB_PUBLIC1 }}
          BUYER_BABYJUB_PUBLIC2: ${{ secrets.BUYER_BABYJUB_PUBLIC2 }}
          SEED_WORDS: ${{ secrets.TEST_MNEMONIC }}
          PROVIDER_PASSWORD: secret
          ESTUARY_TOKEN: ${{ secrets.ESTUARY_TOKEN }}
          IPFS_GATEWAY: 'https://ipfs.infura.io:5001'
          IPFS_PROJECT_ID: ${{ secrets.IPFS_PROJECT_ID }}
          IPFS_PROJECT_SECRET: ${{ secrets.IPFS_PROJECT_SECRET }}
        run: |
          yarn run start &
      - uses: actions/checkout@v3
        with:
          repository: nevermined-io/sdk-dtp
          path: sdk-dtp
          token: ${{ secrets.API_TOKEN_GITHUB }}
      - name: Run tests from SDK-DTP
        env:
          SEED_WORDS: ${{ secrets.TEST_MNEMONIC }}
          NO_GRAPH: true
        run: |
          cd sdk-dtp
          yarn
          ./scripts/wait-nevermined.sh
          yarn test
      - uses: actions/checkout@v3
        with:
          repository: nevermined-io/sdk-js
          path: sdk-js
          token: ${{ secrets.API_TOKEN_GITHUB }}
      - name: Run tests from SDK
        env:
          SEED_WORDS: ${{ secrets.TEST_MNEMONIC }}
          NO_GRAPH: true
        run: |
          cd sdk-js
          yarn
          ./scripts/wait-nevermined.sh
          yarn run integration
